<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anuja.reall">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <permission android:name="com.aanshi.mapsapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.aanshi.mapsapp.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permissions.READ_GSERVICES"/>

    <uses-feature android:glEsVersion="0x00020000"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Loadlife"
            android:label="@string/title_activity_loadlife"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DesignALife"
            android:label="@string/title_activity_dalife"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Selectcity"
            android:label="select city"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AttributesActivity"
            android:label="select Attibutes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YouAre"
            android:label="@string/title_activity_you_are"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CompletedLives"
            android:label="@string/title_activity_completed_lives"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LiveALife"
            android:label="@string/title_activity_live_alife"
            android:theme="@style/AppTheme.NoActionBar">
       </activity>
        <activity
            android:name=".Utilities"
            android:label="@string/title_activity_utilities"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActionActivity"
            android:label="ScrollTabsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Loading"
            android:label="@string/title_activity_loading"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartLife"
            android:label="@string/title_activity_startlife"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YourFamily"
            android:label="YourFamily"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YourCountry"
            android:label="YourCountry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpressYourself"
            android:label="ExpressYourself"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Factoid"
            android:label="Factoid"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WellBeingIndicators"
            android:label="WellBeingIndicators"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login"
            android:label="login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgetPassword"
            android:label="forget password"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAnAmMk-giOQvmaR4ipCbHcD2ysE7gyL3I"/>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>